services:
  db:
    image: mysql:9.0
    container_name: xpeapp_wordpress_db
    volumes:
      - xpeapp_wordpress_db:/var/lib/mysql
      # Init database with sql file
      - ./0001_dump.sql:/docker-entrypoint-initdb.d/dump.sql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${WORDPRESS_DB_NAME}
      MYSQL_USER: ${WORDPRESS_DB_USER}
      MYSQL_PASSWORD: ${WORDPRESS_DB_PASSWORD}

  wordpress:
    container_name: xpeapp_wordpress_uat
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - db
    ports:
      - "${WORDPRESS_HOST}:80"
    restart: always
    environment:
      DEBUG: true
      FORCE_SSL_ADMIN: false

      # Database
      WORDPRESS_DB_HOST: ${WORDPRESS_DB_HOST}
      WORDPRESS_DB_NAME: ${WORDPRESS_DB_NAME}
      WORDPRESS_DB_USER: ${WORDPRESS_DB_USER}
      WORDPRESS_DB_PASSWORD: ${WORDPRESS_DB_PASSWORD}
      WORDPRESS_TABLE_PREFIX: wp_

      # Wordpress Keys
      AUTH_KEY: ${AUTH_KEY}
      SECURE_AUTH_KEY: ${SECURE_AUTH_KEY}
      LOGGED_IN_KEY: ${LOGGED_IN_KEY}
      NONCE_KEY: ${NONCE_KEY}
      AUTH_SALT: ${AUTH_SALT}
      SECURE_AUTH_SALT: ${SECURE_AUTH_SALT}
      LOGGED_IN_SALT: ${LOGGED_IN_SALT}
      NONCE_SALT: ${NONCE_SALT}
      JWT_AUTH_SECRET_KEY: ${JWT_AUTH_SECRET_KEY}

      CORS_ALLOWED_ORIGINS: ${CORS_ALLOWED_ORIGINS}

      # Wordpress Config
      WORDPRESS_CONFIG_EXTRA: |
        define('WP_HOME', 'http://localhost:7830');
        define('WP_SITEURL', 'http://localhost:7830');

      # Firebase Admin SDK
      TYPE: ${TYPE}
      PROJECT_ID: ${PROJECT_ID}
      PRIVATE_KEY_ID: ${PRIVATE_KEY_ID}
      PRIVATE_KEY: ${PRIVATE_KEY}
      CLIENT_EMAIL: ${CLIENT_EMAIL}
      CLIENT_ID: ${CLIENT_ID}
      AUTH_URI: ${AUTH_URI}
      TOKEN_URI: ${TOKEN_URI}
      AUTH_PROVIDER_X509_CERT_URL: ${AUTH_PROVIDER_X509_CERT_URL}
      CLIENT_X509_CERT_URL: ${CLIENT_X509_CERT_URL}

  cron:
      container_name: xpeapp_wordpress_cron
      image: alpine:latest
      depends_on:
        - wordpress
      restart: always
      entrypoint: /bin/sh
      command: >
        -c "
        apk add --no-cache curl &&
        echo '0 * * * * curl -s http://xpeapp_wordpress_uat/wp-cron.php?doing_wp_cron > /dev/null 2>&1' > /etc/crontabs/root &&
        crond -f -l 2
        "


volumes:
  xpeapp_wordpress_db:
